<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{announcement.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <p>Date: {{announcement.created_at}}</p>
    <p>{{announcement.description}}</p>
</ion-content>
