page-login {
    body {
        margin:0px;
    }
    .button-full.button-outline {
        border-right-width: thin;
        border-left-width: thin;
    }
    .header, .footer-link {
        text-align:center;
    }
    .header {
        margin-top:6em;
    }
    .header > img {
        margin: auto 0px;
    }

}
