<ion-content class="page-login">
<div class="header text-center" padding>
    <img width="120" height="140" src="https://i.imgur.com/nmWduZK.png" alt="">
</div>
<ion-list inset>
  <ion-item>
    <ion-label class="mdrrmc-label" floating>Email</ion-label>
    <ion-input type="text" required [value]="email" [(ngModel)]="data.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="mdrrmc-label" floating>Password</ion-label>
    <ion-input type="password" required [value]="password" [(ngModel)]="data.password"></ion-input>
  </ion-item>
</ion-list>
<div padding class="login-footer-container">
    <button class="btn-mdrrmc-transparent btn-login" [disabled]="disabled" ion-button full (click) = 'authenticate()'>{{button_text}}</button>
    <p class="footer-link"><a [navPush]="registrationPage">New user? Register here.</a></p>
</div>
</ion-content>

