<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="changePassword">
        <ion-list inset>
            <ion-item>
                <ion-label>Old Password<span>*</span></ion-label>
                <ion-input [class.invalid]="!changePassword.controls.old_password.valid && (changePassword.controls.old_password.dirty || submitAttempt)" formControlName="old_password" [(ngModel)]="setup.old_password" type="password" required></ion-input>
            </ion-item>

            <ion-item *ngIf="!changePassword.controls.old_password.valid  && (changePassword.controls.old_password.dirty || submitAttempt)">
                <p>Please enter your valid old password.</p>
            </ion-item>

            <ion-item>
                <ion-label>New Password<span>*</span></ion-label>
                <ion-input [class.invalid]="!changePassword.controls.new_password.valid && (changePassword.controls.new_password.dirty || submitAttempt)" formControlName="new_password" [(ngModel)]="setup.new_password" type="password"></ion-input>
            </ion-item>

            <ion-item *ngIf="!changePassword.controls.new_password.valid  && (changePassword.controls.new_password.dirty || submitAttempt)">
                <p>Password must be between 8 with at least one capital letter, one small letter, and one digit.</p>
            </ion-item>

            <ion-item>
                <ion-label>Confirm Password<span>*</span></ion-label>
                <ion-input [class.invalid]="!changePassword.controls.confirm_password.valid && (changePassword.controls.confirm_password.dirty || submitAttempt)" formControlName="confirm_password" [(ngModel)]="setup.confirm_password" type="password"></ion-input>
            </ion-item>

            <ion-item *ngIf="changePassword.controls.confirm_password.touched && changePassword.hasError('mismatchedPasswords') && changePassword.controls.password.valid">
                <p>Passwords do not match</p>
            </ion-item>
        </ion-list>
    </form>
    <div padding>
        <button ion-button full (click) = 'change()'>Update Password</button>
    </div>
</ion-content>
