<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Report</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<h1>Send Report MDRRMC</h1>
<ion-list inset>
  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input  [class.invalid]="!request.controls.title.valid && (request.controls.title.dirty || submitAttempt)"  type="text" required [value]="title" [(ngModel)]="report.title"></ion-input>
  </ion-item>
  <ion-item *ngIf="!request.controls.title.valid  && (request.controls.title.dirty || submitAttempt)">
      <p>Please enter your report title.</p>
  </ion-item>

  <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea  [class.invalid]="!request.controls.description.valid && (request.controls.description.dirty || submitAttempt)" name="description" required [value]="description" [(ngModel)]="report.description"></ion-textarea>
  </ion-item>
  <ion-item *ngIf="!request.controls.description.valid  && (request.controls.description.dirty || submitAttempt)">
      <p>Please enter your report description.</p>
  </ion-item>

  <ion-item>
    <ion-label>Contact Number</ion-label>
    <ion-input [class.invalid]="!request.controls.contact_number.valid && (request.controls.contact_number.dirty || submitAttempt)" type="number" required [value]="contact_number" [(ngModel)]="report.contact_number"></ion-input>
  </ion-item>
  <ion-item *ngIf="!request.controls.contact_number.valid  && (request.controls.contact_number.dirty || submitAttempt)">
      <p>Please enter your contact number.</p>
  </ion-item>

  <ion-item>
    <ion-label>Address</ion-label>
    <ion-input type="text" [class.invalid]="!request.controls.address.valid && (request.controls.address.dirty || submitAttempt)" required required [value]="address" [(ngModel)]="report.address"></ion-input>
  </ion-item>
</ion-list>
 <ion-item *ngIf="!request.controls.address.valid  && (request.controls.address.dirty || submitAttempt)">
      <p>Please enter your address.</p>
  </ion-item>

<div padding>
    <button ion-button full (click) = 'add()'>SEND</button>
</div>
</ion-content>
