<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{report.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <p><strong>Reporter:</strong> {{report.name}}</p>
    <p><strong>Date Reported:</strong> {{report.created_at}}</p>
    <div *ngIf="report.image!=''; then primaryBlock; else secondaryBlock"></div>
      <ng-template #primaryBlock><img [src]=" 'http://localhost:8000'+ report.image"></ng-template>
      <ng-template #secondaryBlock><img src="http://via.placeholder.com/50x50"></ng-template>
    <p>{{report.description}}</p>
</ion-content>
