<ion-header class="header-registration">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content class="page-registration">
  <div class="header text-center" padding>
      <h2>Registration</h2>
      <p>Stay alert on floods announcement and news.</p>
  </div>
  <ion-list inset>
    <ion-item>
      <ion-label class="mdrrmc-label-default" floating>First Name<span>*</span></ion-label>
      <ion-input type="text" required [value]="first_name" [(ngModel)]="inquiry.first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="mdrrmc-label-default" floating>Last Name<span>*</span></ion-label>
      <ion-input type="text" required [value]="last_name" [(ngModel)]="inquiry.last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="mdrrmc-label-default" floating>Contact Number<span>*</span></ion-label>
      <ion-input type="number" required [value]="contact_number" [(ngModel)]="inquiry.contact_number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="mdrrmc-label-default" floating>Email Address<span>*</span></ion-label>
      <ion-input type="email" required [value]="email" [(ngModel)]="inquiry.email"></ion-input>
    </ion-item>
  </ion-list>
  <div padding class="button-container">
      <button class="btn-mdrrmc-primary" ion-button full (click)='registerUser()' [disabled]="disabled" >Register</button>
  </div>
</ion-content>

