<ion-header class="header-home">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-home">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item>
        <ion-label>Location Report</ion-label>
        <ion-select [(ngModel)]="location" (ionChange)="updateLocation($event)">
          <ion-option *ngFor="let device of devices" value="{{device.id}}">{{device.location}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-card class="bg-{{level.warning}} level-report-container">
      <ion-item>
        <div class="level-container">
          <h3>As of {{level.date}}</h3>
          <p>{{level.level}} <span>{{level.measurement}}</span></p>
          <h2>{{level.location}}</h2>
        </div>
        <div class="level-message">
          <p *ngIf="level.warning === 'Blue'; else levelWarning"  class="empty-warning">
          </p>
          <ng-template #levelWarning>
            <h1>{{level.warning }}  Warning</h1>
          </ng-template>
          <p>{{level.message}}</p>
        </div>
      </ion-item>
    </ion-card>

    <ion-item-group>
      <ion-item-divider color="light"><strong>PREVIOUS REPORT</strong></ion-item-divider>
      <ion-item *ngFor="let top of tops">
        <h1>{{top.level}} {{top.measurement}}</h1>
        <h3>{{top.location}}</h3>
        <p>As of {{top.date}}</p>
      </ion-item>
    </ion-item-group>

    <ion-card>
      <iframe SRC="http://web-dev1.customweather.com/sjmfx/mfakb/widget1.php?cwid=gn1700917&metric=true" NAME="frame1" HEIGHT="325" WIDTH="264" hspace=0 vspace=0 ALIGN="left" scrolling=no marginheight=0 marginwidth=0 frameborder=0></iframe>
      <button class="button" ion-button block (click)='openTides()'>
        View Tide Table
      </button>
    </ion-card>
    <h3 padding>Recent Announcements</h3>
    <ion-card *ngFor="let announcement of announcements">
      <ion-item>
        <ion-avatar item-start>
          <img src="http://res.cloudinary.com/kateamethyst/image/upload/v1498582075/19495601_1233028943492144_513659283_o_m9ibyl.jpg">
        </ion-avatar>
        <h2>{{announcement.title}}</h2>
        <p>{{announcement.created_at}}</p>
      </ion-item>
      <ion-card-content>
        <p>{{announcement.description}}</p>
      </ion-card-content>
    </ion-card>
    <h3 padding>Recent Report</h3>
    <ion-card *ngFor="let report of reports">
      <ion-item>
        <ion-avatar item-start>
          <img src="http://res.cloudinary.com/kateamethyst/image/upload/v1498582075/19495601_1233028943492144_513659283_o_m9ibyl.jpg">
        </ion-avatar>
        <h2>{{report.title}}</h2>
        <p>{{report.name}}</p>
      </ion-item>
      <ion-card-content>
        <p>{{report.description}}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
