<ion-header class="header-announcement">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="page-announcement">
    <div class="header text-center">
      <h2>Announcement</h2>
      <p>Stay alert on floods announcement and news.</p>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="announcements == ''; else announcement"  class="empty-announcement">
        <img src="http://res.cloudinary.com/kateamethyst/image/upload/v1505658443/icon-empty_je9ttb.png" alt="">
        <p>There is no announcement yet.</p>
    </div>
    <ng-template #announcement>
      <ion-card *ngFor="let announcement of announcements" (click) ="onLoadAnnouncement(announcement)" >
        <ion-item>
          <ion-avatar item-start>
            <img src="http://res.cloudinary.com/kateamethyst/image/upload/v1498582075/19495601_1233028943492144_513659283_o_m9ibyl.jpg">
          </ion-avatar>
          <h2>{{announcement.title}}</h2>
          <p>{{announcement.created_at}}</p>
        </ion-item>
        <ion-card-content>
          <p>{{announcement.description}}</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
</ion-content>
