<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Location Statuses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-announcement">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item *ngFor="let device of devices">
        <ion-avatar item-start>
          <img src="http://res.cloudinary.com/kateamethyst/image/upload/v1498582075/19495601_1233028943492144_513659283_o_m9ibyl.jpg">
        </ion-avatar>
        <h2>{{device.level}}  {{device.measurement}}</h2>
        <h3>{{device.location}}</h3>
        <p class="{{device.warning}}">{{device.warning}} Warning</p>
        <p>{{device.message}}</p>
      </ion-item>
    </ion-list>
</ion-content>
