<ion-header class="header-reports">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="page-reports">

    <div class="header text-center">
      <h2>Reports</h2>
      <p>Stay alert on floods announcement and news.</p>
    </div>

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="reports == ''; else report"  class="empty-reports">
        <img src="http://res.cloudinary.com/kateamethyst/image/upload/v1505658443/icon-empty_je9ttb.png" alt="">
        <p>There are no reports yet.</p>
    </div>

    <ng-template #report>
      <ion-card *ngFor="let report of reports" (click)="onLoadReport(report)">
        <ion-item>
          <ion-avatar item-start>
            <img src="http://res.cloudinary.com/kateamethyst/image/upload/v1498582075/19495601_1233028943492144_513659283_o_m9ibyl.jpg">
          </ion-avatar>
          <h2>{{report.title}}</h2>
          <p>{{report.created_at}}</p>
        </ion-item>

        <div *ngIf="report.image!=''; then primaryBlock; else secondaryBlock"></div>
        <ng-template #primaryBlock><img [src]=" 'http://localhost:8000'+ report.image"></ng-template>
        <ng-template #secondaryBlock><img src="http://res.cloudinary.com/kateamethyst/image/upload/v1498582075/19495601_1233028943492144_513659283_o_m9ibyl.jpg"></ng-template>
        <ion-card-content>
          <p>{{report.description}}</p>
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ion-fab bottom right>
      <button class="btn-mdrrmc-fab" ion-fab mini (click)="loadAddPage()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
