// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$input-wp-border-color: #fff;
$text-input-wp-highlight-color: #fff;
$text-input-highlight-color-valid: rgba(0,0,0,0);
$text-input-md-background-color: rgba(0,0,0,0);
$text-input-md-highlight-color: rgba(255,255,255, 1);
$text-input-md-highlight-color-valid: rgba(255,255,255,1);
$text-input-wp-highlight-color-invalid: rgba(255,255,255,1);
$text-input-highlight-color-invalid: rgba(255,255,255,1);
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import url('https://fonts.googleapis.com/css?family=Muli');

html,body, p, h1, h2, h3, h4, h5, h6, span, b, strong, div {
    font-family: 'Muli';
}

input, label, form, .item, .item-md, .label, .mdrrmc-label {
    background-color: rgba(0,0,0,0) !important;
}

.header-md {
    background: #4a81db;
    border:none !important;
    > .toolbar {
        >.toolbar-background-md {
            background: #4a81db;
            border:none !important;
        }
    }
}

.page-login {
    background: rgba(74,129,219,1);
    background: -moz-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,129,219,1)), color-stop(84%, rgba(117,189,209,1)), color-stop(100%, rgba(117,189,209,1)));
    background: -webkit-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
    background: -o-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
    background: -ms-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
    background: linear-gradient(to bottom, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a81db', endColorstr='#75bdd1', GradientType=0 );
    background-image: url(https://i.imgur.com/yWPKO8k.png);
    background-size: cover;
    background-repeat: no-repeat;
    .list-md[inset] {
        margin: 20px 40px 10px 40px;
    }
    body {
        margin:0px;
    }
    .button-full.button-outline {
        border-right-width: thin;
        border-left-width: thin;
    }
    .header, .footer-link {
        text-align:center;
    }
    .header {
        margin-top:6em;
    }
    .header > img {
        margin: auto 0px;
    }
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff !important;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff !important;
    background: rgba(74,129,219,1);
}

.Red {
    color:red !important;
}

.Yellow {
    color: yellow !important;
}

.Blue {
    color: #ccc !important;
}

.Orange {
    color: orange !important;
}

.red {
    color:red !important;
    text-transform: capitalize;
}

.yellow {
    color: yellow !important;
    text-transform: capitalize;
}

.blue {
    color: #ccc !important;
    text-transform: capitalize;
}

.orange {
    color: orange !important;
    text-transform: capitalize;
}

.mdrrmc-label {
    text-align:center;
    color: #fff !important;
}

.mdrrmc-label-default {
    text-align:center;
    color: #000 !important;
    opacity: 0.8;
}

.item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating], .item-input-has-value .label-md[floating], .input-has-value .label-md[floating]{
    text-align: left;
}

.login-footer-container {
    margin-right: 30px;
    margin-left: 30px;
    .footer-link {
        margin-top: 40px;
        a {
            text-decoration: none;
            color: #fff;
            opacity: 1;
        }
    }
    .footer-new {
        text-align: center;
        margin-top: 100px;
        a {
            text-decoration: none;
            color: #fff;
            opacity: 1;
        }
    }
}


/**
 * Registration
 */
.header-registration {
    background: rgba(74,129,219,1);
    border:none !important;
    > .toolbar {
        >.toolbar-background-md {
            background: rgba(74,129,219,1);
            border:none !important;
        }
    }
    &::after {
        background-image: none !important;
    }
}
.page-home {
    .level-report-container {
        padding: 1em;
    }
    .level-container {
        > h3 {
            color: #fff;
            font-weight: bolder;
            text-align: center;
        }
        > p {
            color: #fff;
            font-size: 45px;
            font-weight: bolder;
            text-align: center;
        }
        > h2 {
            text-align:center;
            color: #fff;
            padding-bottom: 10px;
        }
    }
    .bg-Red {
        background-color: #db4a4a;
    }
    .bg-Orange {
        background-color: #db8a4a;
    }
    .bg-Yellow {
        background-color: #dbcd4a;
    }
    .bg-Blue {
        background-color: #4b82db;
    }
    .level-message {
        > h1 {
            color: #fff;
            text-transform: uppercase;
            text-align:center;
            font-weight: bolder;
        }
        > p {
            padding-top:10px;
            color: #fff;
            font-size: 16px;
            white-space: normal;
            text-align:center
        }
    }
}
.page-registration {
    .header {
        height: 100px;
        padding: 1em;
        background: rgba(74,129,219,1);
        background: -moz-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,129,219,1)), color-stop(84%, rgba(117,189,209,1)), color-stop(100%, rgba(117,189,209,1)));
        background: -webkit-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: -o-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: -ms-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: linear-gradient(to bottom, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a81db', endColorstr='#75bdd1', GradientType=0 );
        h2 {
            text-transform: uppercase;
            color: #fff;
            padding-top: 10px;
        }
        p {
            color: #fff;
        }
    }

    .list-md[inset] {
        margin: 20px 40px 10px 40px;
    }
    .button-container {
        margin-right: 30px;
        margin-left: 30px;
    }
}

.btn-mdrrmc-transparent {
    border: 2px solid #fff !important;
    border-radius: 25px !important;
    height: 3em !important;
    background-color: transparent !important;
}

.btn-mdrrmc-primary {
    border: 2px solid #52cfc1 !important;
    border-radius: 25px !important;
    height: 3em !important;
    background-color: #52cfc1 !important;
}

.btn-mdrrmc-fab {
    background-color: #52cfc1 !important;
}

.btn-mdrrmc-cancel {
    border: none !important;
    border-radius: none !important;
    height: 3em !important;
    box-shadow: none !important;
    color: #fff !important;
    opacity: 0.7;
    background-color: transparent !important;
}

/**
 * Announcement
 */
.header-announcement {
    background: rgba(74,129,219,1);
    border:none !important;
    > .toolbar {
        >.toolbar-background-md {
            background: rgba(74,129,219,1);
            border:none !important;
        }
    }
    &::after {
        background-image: none !important;
    }
}

.page-announcement {
    background-color: #f1f1f1 !important;
    .header {
        margin-bottom: 30px;
        height: 125px;
        padding: 1em;
        background: rgba(74,129,219,1);
        background: -moz-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,129,219,1)), color-stop(84%, rgba(117,189,209,1)), color-stop(100%, rgba(117,189,209,1)));
        background: -webkit-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: -o-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: -ms-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: linear-gradient(to bottom, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a81db', endColorstr='#75bdd1', GradientType=0 );
        h2 {
            text-transform: uppercase;
            color: #fff;
            padding-top: 10px;
        }
        p {
            color: #fff;
        }
    }
    .empty-announcement {
        text-align: center;
        transform: translateY(50%);
        img {
            width: 70%;
        }
        p {
            font-size: 1em;
            opacity: 0.8;
        }
    }
}

/**
 * Reports
 */
.header-reports {
    background: rgba(74,129,219,1);
    border:none !important;
    > .toolbar {
        >.toolbar-background-md {
            background: rgba(74,129,219,1);
            border:none !important;
        }
    }
    &::after {
        background-image: none !important;
    }
}

.page-reports {
    background-color: #f1f1f1 !important;
    .header {
        margin-bottom: 30px;
        height: 125px;
        padding: 1em;
        background: rgba(74,129,219,1);
        background: -moz-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,129,219,1)), color-stop(84%, rgba(117,189,209,1)), color-stop(100%, rgba(117,189,209,1)));
        background: -webkit-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: -o-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: -ms-linear-gradient(top, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        background: linear-gradient(to bottom, rgba(74,129,219,1) 0%, rgba(117,189,209,1) 84%, rgba(117,189,209,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a81db', endColorstr='#75bdd1', GradientType=0 );
        h2 {
            text-transform: uppercase;
            color: #fff;
            padding-top: 10px;
        }
        p {
            color: #fff;
        }
    }
    .empty-reports {
        text-align: center;
        transform: translateY(50%);
        img {
            width: 70%;
        }
        p {
            font-size: 1em;
            opacity: 0.8;
        }
    }
}
